  * {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background:url(/IMG/renzler.gif);
	background-attachment: fixed;


	font-family:helvetica, arial, sans-serif;
	line-height:20px;
}

.datostxt { /*nombre de mi clase*/
	width: 90%;
	max-width:900px;
	margin: auto;
}

.barra{ /*barra de navegacion*/
    width: 90%;
	max-width:2000px;
	margin: auto;
}

   .barra p{
    margin-bottom: 40px;
     }

header nav{
    background: #F64740;
    margin-bottom: 10px;
    -webkit-transition: all ease .10s;
    -o-transition: all ease .10s;
    transition: all ease .10s;
}
      header nav ul{
      max-width:2000px;
      list-style: none;
      overflow: hidden;
      }

      header nav ul li{
      float: left;
       }

       header nav ul li a{

       display: block;
       padding: 20px;
       color: white;
       text-decoration: none;
       }

       header nav ul li a:hover {
       background: green;
       }

.menus{
    position: fixed;
    z-index:1000;
    top: 0;
    left: 0;
    width: 100%;
    /*max-width: 1000px;*/
    box-shadow: 0px 4px 3px rgba(255, 255, 255,.5);
}

.menu ul li a{
    padding: 15px 20px;
}


article {
	background:rgba(10,10,33,.4);
	padding:20px;
	margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.5);
}

       article h2 {
	   color:#fff;
       }

       article hr {
	   background:#F64740;
	   height:5px;
	   border:none;
       }

       article p {
       line-height: 20px;
       }

       article h2, article p, article hr {
	   margin-bottom: 20px;
                  }

marquee {
    background:rgba(10,10,33,.5);
    padding:10px;
	margin:20px 0;
	color:#fff;
    max-width:1150px;
}

.redes{
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}

        .redes ul{
        list-style: none;

         }

        .redes ul li a{
        display: inline-block;
        color: white;
        background: black;
        padding: 10px 15px;
        text-decoration: none;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        }

       .redes ul li .icon-facebook {background:#3b5998; }
       .redes ul li .icon-twitter{background:#00abf0;}
       .redes ul li .icon-google-plus{background:#d95232;}
       .redes ul li .icon-pinterest{background:#ae181f;
        }
       .redes ul li .icon-google-drive {background: gray; }
       .redes ul li .icon-instagram {background:#3b5935; }
       .redes ul li .icon-vine {background:green; }
       .redes ul li .icon-youtube {background:#ae181f }
       .redes ul li .icon-github {background:gray; }
       .redes ul li .icon-skype {background: #3b5998; }

       .redes ul li a:hover {
        padding: 10px 30px;
        background: black;
        }
