.banner{
    width: 700px;
    height: 400px;
    border: 7px solid blue;
    margin: auto;



    background-size: 100% 100%;

    animation: banner 8s infinite;
    animation-direction: alternate;
}

@keyframes banner {

    0%, 30% {
        background-image:url(IMG/cebiche_1.jpg);
        opacity: 1;
    }

    31%, 34% {
        background-image: url(IMG/cebiche_2.jpg);
        opacity: 0.1;
