*{
	padding: :0px;
	margin: 0px;
}
header{
	width: 100%;
	background:#2E9AFE;
	height: 54px;
	border-top: 4px solid #0040FF;
	border-bottom: 4px solid #0040FF;
	position: fixed;
	z-index:2;
}
header #logo h2{
	font-family:Verdana;
	font-size: 20px;
	color: azure;
	margin: 10px 0px 0px 10px;
}
#abrir_menu{
	float: right;
	margin: -24px 10px 0px 0px;
	color: white;
	font-size: 30px;
	cursor: pointer;
	display: none;

}
header #menu nav{
	height: 35px;
	display: none;
}

#cerrar_menu{
	font-size: 40px;
	float: right;
	padding: 5px;
	color: white;
	margin: 5px;
	opacity: .6px;
	cursor: pointer;
}

#cerrar_menu:hover{
	opacity: 1;
}

header #menu{
	width: 450px;
	margin:-16px auto;
	transition: left 0.5s;
	-webkit-transition: left 0.5s;
	-moz-transition: left 0.5s;
	-o-transition: left 0.5s;

}

header #menu ul a{
	text-decoration: none;
	color: aliceblue;
	font-family:Verdana;
	font-size: 15px;
	padding: 15.6px;
	margin: 0px;
	border: 2px solid transparent;
}
header #menu ul a:hover{
	background: #08088A;
	box-shadow: 2px 2px 2px #0040FF;
	border:2px solid #0040FF;
}
#inicio{
	width: 100%;
	background: url(../img/codigo.jpg) no-repeat center;
	padding: 70px 0px 0px;
}
#inicio img{
	height: 400px;
	opacity: .9;
	margin-bottom: 30px;
	transition: height 0.7s;
	-webkit-transition: height 2.7s;
	-moz-transition: height 0.7s;
	-o-transition: height 0.7s;
}

#inicio a{
	text-decoration: none;
	color: white;
	padding: 15px;
	border: 4px solid #fff;
	font-size: 17px;
	font-family: Verdana;
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	font-weight: bold;
	transition:background 0.7s;
	-webkit-transition:background 0.7s;
	-moz-transition: background 0.7s;
	-o-transition: background 0.7s;
}

#inicio a:hover{
	background: #fff;
	color: #0040FF;
}

#acerca{
	width: 100%;
	background: #fff;
}

#acerca-main{
	width: 880px;
	margin: auto;
	padding-bottom: 30px;
}

h3{
	font-size: 30px;
	font-family:Verdana;
	font-weight: bold;
	padding-bottom: 30px;
}
#acerca-main h3{
	color: #0B2161;
}
#acerca-main p{
	font-family: Verdana;
	opacity: 0.8;
	color: black;
}
#servicios{
	width: 100%;
	background: #0080FF;
}
#servicios-main{
	width: 890px%;
	margin: auto;
	padding-bottom: 30px;
}
#servicios-main h3{
	color: white;
}
#servicios-main ul a{
	text-decoration: none;
	color: white;
	width: 430px;
	margin: 4px;
	border: 3px solid #fff;
	padding: 30px;
	display: inline-block;
	font-family: Vergana;
	font-size: 24px;
	font-weight: bold;
	-webkit-transition:background 0.7s;
	-moz-transition: background 0.7s;
	-o-transition: background 0.7s;
}
#servicios-main ul a span{
	float: left;
	font-size: 40px;
}

#servicios-main ul a:hover{
	background: #fff;
	color: #0080FF;
}

#contacto{
	width: 100%;
	background: #fff;
}
#contacto-main{
	width: 880px;
	margin-bottom: auto;
	padding-bottom: 30px;
}
#contacto-main h3{
	color: #0080FF;
}
#contacto-main form input{
	border: 4px solid #8181F7;
	width: 90%;
	height: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin-bottom: 6px;
	font-family: Vergana;
	font-size: 18px;
}
#contacto-main textarea{
	border: 4px solid #8181F7;
	width: 90%;
	height: 90px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin-bottom: 6px;
	font-family: Vergana;
	font-size: 18px;
}
#boton{
	background: #8181F7;
	color: white;
	font-weight: bold;
	cursor: pointer;

}
