* {
    padding: 0;
    margin: 0;
 }
body{
    width: 100%;
    background: url(/IMG/imagen.jpeg) center;

}
h1{
    font-size: 20px;
    font-family: Verdana;
    color: #6e6e6e;
    padding: 20px;
}
header{
    background: #3C6C7A;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    z-index: 2;
    position: fixed;
}
header h2{
    text-align: center;
    color: #f2f2f2;
    font-family: Verdana;
    font-size: 35px;
}
header a{
    text-decoration: none;
    color: #f2f2f2;
    padding: 15px;
    border: 5px solid #f2f2f2;
    float: right;
    font-size: 15px;
    font-family: Verdana;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    margin: -55px 30px 0px 30px;
    font-weight: bold;
}
header a:hover{
    background: #fff;
    color: #3C6C7A;
    transition: .6s;

}
header img{
    height: 65px;
    float: left;
    margin: -17px 0px 0px 30px;
}
nav{
    width: 100%;
    height: 50px;
    background: #01A9DB;
    border-top:4px solid #086A87;
    border-bottom:4px solid #086A87;
    z-index: 2;
    position: fixed;
}
nav ul{
    width: 490px;
    padding-top: 12px;
    margin: auto;
}
nav ul a{
    text-decoration: none;
    color: #f2f2f2;
    font: bold 16px Verdana;
    padding: 13px 13px 18px 13px;
    border:4px solid #086A87;
    margin-right: -8px;

    transition: background .5s, padding .5s;
}
nav ul a:hover{
     background: #01A9DB;
    padding: 17px 24px 25px 24px;
}
upeu_main{
    width: 960px;
}
ciencia_main{
    width: 960px;
}
biblia_main{
    width: 960px;
}
salud_main{
    width: 960px;
}
entretenimiento_main{
    width: 960px;
}
#seccion{
    width: 600px;
    min-height: 400px;
    background: #E9E7E7;
    margin: 130px;
    box-shadow: 1px 1px 10px #000;
    display: inline-block;
    padding-bottom: 20px;
}
article{
    width: 90%;
    background: #6e6e6e;
    height: 250px;
    margin-bottom: 15px;
}
article img{
    height: 150px;
    float: left;
    padding: 20px;
}
article p{
    color: #f2f2f2;
    font-family: Verdana;
    font-size: 16px;
    padding: 40px;
}
#inicio img{
    height: 400px;
    opacity: .8;
    margin-bottom: 30px;
    transition: height 0.7s;
}

footer{
    width: 100%;
    border-top:4px solid #1F647A;
    border-bottom: 4px solid #086A87;
}
#creditos{
    width: 100%;
    background: #01A9DB;
}
#creditos h5{
    color: #fff;
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
    padding: 8px;
}
