*{
	padding: :0px;
	margin: 0px;
}
header{
	width: 100%;
	background:#2E9AFE;
	height: 54px;
	border-top: 4px solid #0040FF;
	border-bottom: 4px solid #0040FF;
	position: fixed;
	z-index:2;
}
header #logo h2{
	font-family:Verdana;
	font-size: 20px;
	color: azure;
	margin: 10px 0px 0px 10px;
}
